{% extends 'AdminBundle::layout.html.twig' %}

{% block currentItem %}dashboard{% endblock %}
{% block content %}
    <div class="content--container">
        <div class="container--white">
            <div style="text-align: center;">
                <p>
                    Welcome to <strong>Wiseweb&trade;</strong> Content Management System admin.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
